* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif, otf-font-awesome;
    font-size: 16px;
    min-height: 0;
    border-radius: 0;
}

window#waybar {
    background-color: #DC9FB4;
    border-bottom: 0px solid #000000;
}

#clock,
#pulseaudio,
#bluetooth,
#tray,
#language,
#window,
#taskbar,
#cpu,
#battery,
#network,
#backlight,
#memory
{
    background: #FEDFE1;
    color: #35557c;
    padding: 0 10px;
    margin: 0 0px;
}zz

#taskbar
{
    background: #FEDFE1;
    color: #35557c;
    padding: 0 0px;
    margin: 0 0px;
}

#taskbar button:hover {
    box-shadow: inset 0 -26px 10px #D0104C;
}

#taskbar button.active {
    background: #D0104C;
}

#custom-poweroff,
#custom-launcher
{
    color: #35557c;
    padding: 0 0 0 10px;
    margin: 0 0px;
}

#custom-right,
#custom-left {
    font-size: 20px;
    color: #FEDFE1;
    padding: 0 0px;
    margin: 0 0px;
}

#custom-right2,
#custom-left2 {
    font-size: 20px;
    color: #DC9FB4;
    background: #FEDFE1;
    padding: 0 0px;
    margin: 0 0px;
}
