* {
    color: #a7a2a9;
    border: 0;
    border-radius: 2px;
    padding: 0 0;
    font-family: "Caskaydia Cove Nerd Font", "JetBrains Mono Nerd Font";
    font-size: 15px;
    margin-right: 2px;
    margin-left: 2px;
    padding-bottom: 1px;
}

window#waybar {
    background-color: rgba(50, 60, 70, 0.5);
    /* background: linear-gradient(45deg, #ff6600, #0033cc); */
}

#clock,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#backlight,
#tray,
#disk,
#pulseaudio,
#custom-launcher {
    color: rgb(239, 241, 245);
    padding: 0 8px;
    border-bottom: 2px;
    padding-bottom: 0;
    border-style: solid;
}

#taskbar button {
    border: 0;
    border-radius: 10px;
    /* margin-top: 3px; */
    padding-top: 3px;
    /* box-shadow: inset 0 -3px rgb(111, 197, 222); */
}

#taskbar button:hover {
    background: rgba(255, 255, 255, 0.5);
    /* box-shadow: inset 0 -30px rgb(246, 197, 85); */
}

#taskbar button.active {
    background: rgba(181, 233, 231, 0.5);
    /* box-shadow: inset 0 -10px rgb(246, 197, 85); */
}

#custom-launcher {
    border-style: hidden;
    /* margin-top: 2px; */
}

@keyframes blink {
    to {
        color: #4c566a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
    color: rgb(00, 255, 00);
}

#battery.discharging {
    color: rgba(255, 165, 0, 0.9);
}

#temperature.critical {
    color: rgba(255, 0, 0, 0.9);
}
